# Tugas Project Kelompok G Kelas Python 2-D

# Persiapan Data
Pada tahap ini kita import library yang dibutuhkan yaitu Pandas.

In [33]:
#import pandas
import pandas as pd

Data yang kita gunakan yaitu Daftar Pelabuhan Kargo tersibuk di dunia. Berikut ini merupakan daftar pelabuhan tersibuk berdasar jumlah barang yang dimuat atau diterima melalui dermaga kontainer. Data yang dihitung dalam satuan TEU (twenty-foot equivalent unit) atau standar ISO terhadap satuan kontainer barang.
source : https://id.wikipedia.org/wiki/Daftar_pelabuhan_kargo_tersibuk_di_dunia

In [32]:
port_df = pd.read_csv("Pelabuhan.csv")
port_df

,Pelabuhan,Negara,2013,2012,2011,2010,2009,2008,2007,2006
0,Shanghai,Tiongkok,33617,32529,31700,29069,25002.0,27980.0,26150.0,21710.0
1,Singapore,Singapura,32240,31649,29937,28431,25866.0,29918.0,27932.0,24792.0
2,HongKong,HongKong,22352,23117,24384,23532,20983.0,24248.0,23881.0,23539.0
3,Shenzhen,Tiongkok,23280,22940,22570,22510,18250.0,21414.0,21099.0,18469.0
4,Busan,KoreaSelatan,17690,17046,16185,14157,11954.0,13425.0,13270.0,12039.0
5,Ningbo-Zhoushan,Tiongkok,17351,16670,14686,13144,10502.0,11226.0,9349.0,7068.0
6,Guangzhou,Tiongkok,15309,14744,14400,12550,11190.0,11001.0,9200.0,6600.0
7,Qingdao,Tiongkok,15520,14503,13020,12012,10260.0,10320.0,9462.0,7702.0
8,JebelAli,UniEmiratArab,13641,13270,13000,11600,11124.0,11827.0,10653.0,8923.0
9,Rotterdam,Belanda,11621,11866,11877,11146,9743.0,10784.0,10791.0,9655.0
10,Tianjin,Tiongkok,13010,12300,11500,10080,8700.0,8500.0,7103.0,5950.0
11,Kaohsiung,RepublikTiongkok,9938,9781,9636,8872,8581.0,9677.0,10257.0,9775.0
12,PortKlang,Malaysia,10350,10000,9604,8870,7309.0,7970.0,7120.0,6326.0
13,Hamburg,Jerman,9302,8864,9022,7900,7007.0,9737.0,9890.0,8862.0
14,Antwerpen,Belgia,8578,8635,8664,8468,7309.0,8663.0,8176.0,7019.0
15,LosAngeles,AmerikaSerikat,7869,8078,7941,7832,6748.0,7850.0,8355.0,8470.0
16,TanjungPelepas,Malaysia,7628,7700,7500,6530,6000.0,5600.0,5500.0,4770.0
17,Xiamen,Tiongkok,8010,7202,6461,5820,4680.0,5035.0,4627.0,4019.0
18,Dalian,Tiongkok,10860,8060,6400,5242,4552.0,4503.0,4574.0,3212.0
19,LongBeach,AmerikaSerikat,6731,6046,6061,6263,5067.0,6350.0,7316.0,7289.0
20,Bremen,Jerman,5831,6115,5915,4871,4578.0,5529.0,4912.0,4450.0
21,LaemChabang,Thailand,6032,5830,5731,5068,4538.0,5134.0,4642.0,4123.0
22,TanjungPriok,Indonesia,6590,6200,5618,4715,3800.0,3984.0,3900.0,3280.0
23,NewYorkandNewJersey,AmerikaSerikat,5467,5530,5503,5292,4561.0,5265.0,5299.0,5093.0
24,Lianyungang,Tiongkok,5490,5020,4850,3870,3021.0,3001.0,2001.0,1302.0
25,HoChiMinhCity(Saigon),Vietnam,5542,5060,4674,4100,3563.0,3100.0,2532.0,2532.0
26,Tokyo,Jepang,4861,4752,4640,4286,3810.0,4271.0,3818.0,3969.0
27,Valencia,Spanyol,4328,4470,4327,4207,3653.0,3593.0,3043.0,2612.0
28,PortSaid,Mesir,4100,3631,4272,3646,3300.0,3202.0,2127.0,2127.0
29,Colombo,SriLanka,4306,4180,4263,4137,3464.0,3687.0,3380.0,3079.0
30,Mumbai,India,4162,4260,4217,3857,4061.0,3953.0,4060.0,3298.0
31,Yingkou,Tiongkok,5301,4851,4033,3338,2537.0,2030.0,1371.0,838.0
32,Jeddah,ArabSaudi,4561,4738,4010,3830,3091.0,3326.0,3068.0,2964.0
33,Algeciras,Spanyol,4501,4114,3603,2810,3042.0,3324.0,3152.0,3257.0
34,Felixstowe,BritaniaRaya,3740,3700,3519,3400,3100.0,3200.0,3300.0,3000.0
35,Manila,Filipina,3770,3705,3250,3257,2815.0,2977.0,2800.0,2638.0
36,Balboa,Panama,3064,3251,3232,2759,2012.0,2011.0,2167.0,988.0
37,KhorFakkan,UniEmiratArab,3800,3996,3230,3023,2750.0,2112.0,1850.0,1730.0
38,Salalah,Oman,3340,3620,3201,3482,3490.0,3068.0,2600.0,2390.0
39,Yokohama,Jepang,2888,3053,3083,3280,2555.0,3490.0,3400.0,3200.0
40,Taicang,Tiongkok,3267,4015,3058,2212,NaN,NaN,NaN,NaN
41,Santos,Brasil,3446,3172,2985,2716,2252.0,2675.0,2533.0,2208.0
42,Savannah,AmerikaSerikat,3034,2966,2945,2825,2356.0,2616.0,2604.0,2160.0
43,Ambarli,Turki,3378,3097,2686,2540,NaN,NaN,NaN,NaN
44,TanjungPerak,Indonesia,3001,2849,2644,3030,NaN,NaN,NaN,NaN
45,Nagoya,Jepang,2709,2655,2623,2549,2113.0,2817.0,2890.0,2740.0
46,Vancouver,Kanada,2825,2713,2551,2514,2492.0,2307.0,2208.0,1767.0
47,Malta,Malta,2750,2540,2360,2371,NaN,NaN,NaN,NaN
48,GioiaTauro,Italia,3087,2721,2305,2851,2857.0,3468.0,3445.0,2900.0
49,Colon,Panama,3356,2060,1900,1600,2802.0,1856.0,2262.0,NaN
50,Piraeus,Yunani,3164,2745,1680,1198,665.0,434.0,1373.0,NaN

Selain menampilkan keseluruhan data, kita dapat melihat sebagian data, untuk itu kita gunakan fungsi head(). Secara default pandas akan menampilkan 5 data pertama dari dataframe

In [36]:
# Menampilkan 5 baris teratas
port_df.head()

,Pelabuhan,Negara,2013,2012,2011,2010,2009,2008,2007,2006
0,Shanghai,Tiongkok,33617,32529,31700,29069,25002.0,27980.0,26150.0,21710.0
1,Singapore,Singapura,32240,31649,29937,28431,25866.0,29918.0,27932.0,24792.0
2,HongKong,HongKong,22352,23117,24384,23532,20983.0,24248.0,23881.0,23539.0
3,Shenzhen,Tiongkok,23280,22940,22570,22510,18250.0,21414.0,21099.0,18469.0
4,Busan,KoreaSelatan,17690,17046,16185,14157,11954.0,13425.0,13270.0,12039.0

Kita juga dapat melihat 5 pelabuhan tersibuk berdasarkan tahun

In [49]:
# Cek pelabuhan tersibuk berdasarkan tahun
year = int(input("Masukkan tahun (range 2006 s.d. 2013): "))
if year in range(2006, 2014):
    year = str(year)
else:
    print("Tahunnya kelebihan bro!")

port_df.sort_values(by=[year], ascending=False).head()

Masukkan tahun (range 2006 s.d. 2013):  2006

,Pelabuhan,Negara,2013,2012,2011,2010,2009,2008,2007,2006
1,Singapore,Singapura,32240,31649,29937,28431,25866.0,29918.0,27932.0,24792.0
2,HongKong,HongKong,22352,23117,24384,23532,20983.0,24248.0,23881.0,23539.0
0,Shanghai,Tiongkok,33617,32529,31700,29069,25002.0,27980.0,26150.0,21710.0
3,Shenzhen,Tiongkok,23280,22940,22570,22510,18250.0,21414.0,21099.0,18469.0
4,Busan,KoreaSelatan,17690,17046,16185,14157,11954.0,13425.0,13270.0,12039.0